<p><%= @cardArray.size %></p>
<% i = 0 %>
<% while (i < @cardArray.size) %>
<table>
  <tr>
    <th><%= @cardArray[i].name %></th>
    <th><%= @cardArray[i].types %></th>
    <th><%= @cardArray[i].cost %></th>
    <th><%= @TempCards[i].number %></th>
  <tr>
</table>
<% i += 1 %>
<% end %>
