<div>
<p>Have <%= @number %> cards</p>
<% i = 0 %>
<table>
  <tr>
    <th style = "width: 120px">name</th>
    <th style = "width: 40px">type</th>
    <th style = "width: 35px">cost</th>
    <th>number</th>
  </tr>
</table>
<div style = "width: 280px; height: 200px; overflow-y:auto">
<table>
<% while (i < @cardArray.size) %>
  <tr>
    <th><%= link_to @cardArray[i].name, :controller => 'hearthstone', :action => 'show', :id => @cardArray[i], :remote => true, "data-type" => "script" %></th>
    <th><%= @cardArray[i].types %></th>
    <th style = "width: 40px"><%= @cardArray[i].cost %></th>
    <th><%= @cards[i].number %></th>
  </tr>
<% i += 1 %>
<% end %>
</table>
</div>
