<h1>新建卡组</h1>
<div>
  <div style ="position: absolute; top:120px; left:5px">
    <p><%= link_to 'Hunter', :controller => 'hearthstone', :action => 'select', :belong => 'Hunter', :remote => true, "data-type" => "script "%></p>
    <p><%= link_to 'Mage', :controller => 'hearthstone', :action => 'select', :belong => 'Mage', :remote => true, "data-type" => "script "%></p>  
</div>
<div id = "belonglist" style = "position: absolute; left: 70px; top: 120px; width: 250px; height: 200px">
</div >
  <div id = "content" style = "position: absolute; top:120px; left:660px">
  </div>
  <div id = "view" style = "position: absolute; top:350px; left:70px; width: 300px; height: 300px">
  </div>
</div>
<div style ="position: absolute; top:10px; left:150px">
<%= form_for @newSet, :url => { :controller => 'hearthstone', :action => 'create' } do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, :size => 10 %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description, :style => "position: absolute; left: 220px; top: 0px; width: 200px; height: 80px"%>

  <%= f.submit "Create", :style => "position: absolute; top: 50px; left: 50px" %>
<% end %>
</div>
